body {
    font-family: 'Times New Roman', Times, serif;
    background-color: whitesmoke;
    color: black;
}

.header {
    background-color: aquamarine;
    width: 100%;
    text-align: center;
    padding: 10px 0px 10px 0px;
    border-bottom: 2px solid lightgrey;
    margin-bottom: 2px;
}

#headerIcon {
    float: left;
}

#loginUser {
    text-align: right;
    margin-bottom: 2px;
}

.quickAccessSearch {
    background-color: lightgray;
    width: 100%;    
    padding: 10px 0px 10px 0px;
    border: 2px solid lightgrey;
    margin-bottom: 2px;
    display: inline-block;    
}

#quickAccess {
    display: inherit;
    width: 75%;        
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}



#searchTab {
    display: inline;
}

.fileExBody {
    display: inline-block;
    border: 2px solid lightgrey;
    width: 100%;
    height: 70%;
}

.indexRef {
    display: inherit;
    width: 25%;
    height: 100%;
    border: 2px solid lightgrey;
    padding: 10px;
}

.folderExplorer {
    display: inherit;
    float: right;
    width: 70%;
    height: 100%;
    border: 2px solid lightgrey;
}

.folderExplorer + img {
    padding: 25%;    

}

.folderIcon {
    padding: 30px;
    border: 0px;
    display: inline-block;
}